*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  padding: 0 30px;
  width: 100%;
  height: 534px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.result {
  width: 711px;
  height: 456px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

/* SEARCH FORM */

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label input {
  min-width: 225px;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  color: #fff;
  padding: 2px 0;
  margin: 5px 0;
  appearance: none;
}

.search-form__label input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px #fff solid;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  font-family: 'Fira Sans Condensed';
  background-color: transparent;
  border: 1px #fff solid;
  color: #fff;
  font-size: 18px;
}

.search-form__submit-button {
  padding: 5px 74px;
  align-self:flex-end;
  margin-bottom: 5px;
}



/* CONTENT */

.content__details {
  height: 100%;
  width: 399px;
}

.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4.5rem;
}

.content__accent {
  color: rgba(255, 255, 255, 0.3);
}

.content__list-container {
  margin-top: 20px;
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px #fff solid;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  line-height: 1.5rem;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 6px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:active {
  background-color: rgba(84, 80, 80, 1);
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.preloader {
  position: absolute;
}